/.bundle/
/.env
/.env.*
!/.env.example
/.superpowers/
/log/
/node_modules/
/storage/
/tmp/


# Ignore key files for decrypting credentials and more.
/config/*.key


/app/assets/builds/*
!/app/assets/builds/.keep
